.psci
.psci_modules/
bower_components/
node_modules/
output/
.spago/
.psc-ide-port
.purs-repl
tmp/
/*.log
tags


# yarn

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
